.nav-pills .nav-link {
  border-radius: 0 !important;
}

.nav-pills a {
  color: white;
}

.nav-pills a:hover {
  color: white;
}

.nav-link {
  padding: 0.5rem 5rem !important;
}

.nav {
  margin: auto;
  background-color: black;
}

