.settings-container {
  margin-top: 10em;
  width: 40em;
  text-align: center;
  border: 0.05em solid grey;
  border-radius: 0.5em;
  padding: 2em;
}

.settings-container img {
  height: 5em;
  width: 5em;
}

.settings-container .table td {
  text-align: left;
  padding: 3em;
}
